apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - cron.yaml
secretGenerator:
  - name: qbit-manage-config
    files:
      - config.yml=config/config.enc.yml
