---
# yaml-language-server: $schema=https://raw.githubusercontent.com/kashalls/kromgo/main/config.schema.json
badge:
  font: Verdana.ttf
  size: 13
metrics:
  - name: k8s
    query: topk(1,(sum by (git_version) (kubernetes_build_info)))
    label: git_version
    colors:
      - color: "blue"
        min: 0
        max: 1024

  - name: os
    query: topk(1,(sum by (osVersion) (cadvisor_version_info)))
    label: osVersion
    colors:
      - color: "green"
        min: 0
        max: 1024

  - name: nodes
    query: count(count by (node) (kube_node_info))
    colors:
      - color: "orange"
        min: 0
        max: 1024

  - name: pods
    query: sum(kube_pod_status_phase{phase="Running"})
    colors:
      - color: "yellow"
        min: 0
        max: 1024
