---
# yaml-language-server: $schema=https://raw.githubusercontent.com/kashalls/kromgo/main/config.schema.json
badge:
  font: DejaVuSans.ttf
  size: 12
metrics:
  - name: git_version
    query: topk(1,(sum by (git_version) (kubernetes_build_info)))

  - name: os_version
    query: topk(1,(sum by (osVersion) (cadvisor_version_info)))

  - name: cluster_node_count
    query: count(count by (node) (kube_node_info))

  - name: cluster_pods_running
    query: sum(kube_pod_status_phase{phase="Running"})

  - name: cluster_age_days
    query: "round((time() - max(kube_node_created) ) / 86400)"
    suffix: " days"

  - name: cluster_uptime_days
    query: round(avg((node_time_seconds - node_boot_time_seconds) / 3600 / 24), 0.1)
    suffix: " days"
