apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - hr.yaml
secretGenerator:
  - name: kromgo-config
    files:
      - config/config.yaml
configurations:
  - kustomizeconfig.yaml
