include:
 - project: doudous/ci-templates
   ref: main
   file: build.yaml

run:val:
  stage: test
  image: ghcr.io/vaskozl/kubeconform:0.7.0@sha256:d49741b1b56411b81b840fc996ec41021043ff42ceb36f2bee21660f112367a0
  script:
    - scripts/validate.sh
