include:
 - project: doudous/ci-templates
   ref: main
   file: build.yaml

run:val:
  stage: test
  image: ghcr.io/vaskozl/kubeconform:0.7.0@sha256:5d5b28ce8e3652f481d5e8788c52caae7603b030f58e9f897f0acf9741c997a4
  script:
    - scripts/validate.sh
