include:
 - project: doudous/ci-templates
   ref: main
   file: build.yaml

run:val:
  stage: test
  image: ghcr.io/vaskozl/kubeconform:0.7.0@sha256:536b0b2fb0958e02113d2e47bd2cccd9d95329036665365de38059a59707f004
  script:
    - scripts/validate.sh
