include:
 - project: doudous/ci-templates
   ref: main
   file: build.yaml

run:val:
  stage: test
  image: ghcr.io/vaskozl/kubeconform:0.7.0@sha256:0b79eb28f259410d93f04b8f814b7df3c970fa525e35b502ad1880c97928155c
  script:
    - scripts/validate.sh
