service:
  publicurl: https://todo.sko.ai
auth:
  local:
    enabled: false
  openid:
    enabled: true
    redirecturl: https://todo.sko.ai/auth/openid/
    providers:
      - name: pocket-id
        authurl: https://pi.sko.ai
        clientid: 16254009-7f90-4506-9ebc-c98402988c6e
        clientsecret: ENC[AES256_GCM,data:sJ7mJRN/yQYWjp31D13FgpZi8UCQCly6itNNuUjZcOo=,iv:z16bxPRBD4WW9nhjnWA9Y7I5/GfPnskHLRpxpXc0Htg=,tag:GeB0KzQCDZD/+l8XYQRiaQ==,type:str]
        scope: openid profile email groups
mailer:
  enabled: true
  host: mail.sko.ai
  fromemail: vikunja@sko.ai
  port: 2225
  username: ""
  password: ""
sops:
  lastmodified: "2025-12-13T16:12:15Z"
  mac: ENC[AES256_GCM,data:X/J4DPRdqbUbtxKLP0bn2T1ShO6iYf8yFjdhwnD5U0IR8Tvq9L+V2RQnethb7gqkDTPbIrdLuQTMVNUmJhzsPcQ4PuEAG6NqFYdV6vTR4oyttlPtE0T9L1VMhCIteLnRlmXoYl1ijGgo2faA/B+hw3GAsKkz2G2cv4RzEd05mvI=,iv:hekRQhfzHs0/g/wKGxthKr9NG7bJbmPcVdgz5AQ+BWk=,tag:fJgD1OIlRhTxzpoaDIqu6w==,type:str]
  pgp:
    - created_at: "2025-02-07T19:54:36Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQMOA4x50yY5upzjEAwAk3HiLenNe3nVhWmldXUI9v5He3Asx5iNNbIuVdOzCJUA
        jsrCRWglOJDfx8Gw2/82KDHKT1k2FN6xwh75QRQlrPUmUQ1j2VMZYOV9f1UT1Sgw
        HZ1P8AAqiRWhpGfMALoZn08HbFP/eOtTlA55kCnNMEpyfrrP67dFSpMHMyfU1YZt
        qXwTkhH+BTtEcn9bSXM+WIZKQ3EgzHhaet8ll3vYCxhaxRFsPoFvSTP0AFEJMan7
        UV7HuDGhpdHI8UnVOUL7TI+NIJERJTyPuQjorDGvdIjCjdMsUHW2nZAPKvYXbqQo
        yPYVdPNvLbUAiy2WbznYmtxbhxcN/llZvyngkuehECPL0jF0D0eddSNyN3GatNsb
        DYdlvpuTMD1aguEEINIzUJvVo7MlsuJbOGpaEMcSmYU4w42i7vP2Y8ZcebPw0G2r
        J2Y0wWlc+SxW1jzwPWY7edlFdl7Ui8IemvKjJuZz1UbNwLpXTPguN6orWNyqdfsj
        RQ5dFQHviS4MkknFeGTxC/9c0T8WTvfPU3mn+FM/oV2j0ObVrk5syzTPfABF+rxC
        vHYbVVQ+KE4E7wYlEnlJDZpHbcgYZqyKWw1mZipZ4icvhN62Nj3WNOGHKdBcdIwQ
        X5X8Weh5feHl+EIeHyWDXGOVM1WayUrXLjt8zlhuoc5b1eghrJTi6eJcs3cSSPFE
        FToRSztjzexrUzI+YG0hO4QQDMUXKKtbcAy1IZMXR/CefDCACXnF4apU34uKf6PN
        U6paMsaIXKVr4IlbpxOw2B6it9gnjce5prOgD0m2YFZsR1Y2M8SORR/B0+tv2ccf
        gJAkAoKPRS92w2Z4j2ZPAxLN35Coob9KL1T6nvf0RqKfqSXS7s6f17iUr+bcj8Gm
        4uHYXLiwwcVGJMrquJhMjVzOGeXK8lCGUrYmI4d6mzoo/1NbP4fgxPhy3DyowyIB
        yW6YN8KCff3Drfrqi8wIlER+5lg3WRLauJQ7f8YjNzL5QE4Y1efkRi61GAmSV5TD
        36B3jhmX9TyjwAZBoMk3Aq/SXgHYyOkW6Ijr0kaQCgAQk3qldZ06TXdpnUpkpEEa
        KPrDBRTDpyCje/mFGArVnUWe/Y+T7qGUffrC+KRbEnDaSqTiTswLAfb4kruV7DSi
        80rx3sb0NaWZPXQ7nDYygNw=
        =j2uf
        -----END PGP MESSAGE-----
      fp: E940DD1F01DE41AC266825F72E962083AFA12A4D
  encrypted_regex: ((?i)(pass|secret($|[^N])|key|token|^data$|^stringData$))
  version: 3.11.0
