apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: inspircd
resources:
- _namespace.yaml
- hr.yaml
- cert.yaml
configMapGenerator:
- name: inspircd
  files:
  - config/inspircd.conf
  - config/motd.txt
  - config/opers.conf
  - config/server.conf
  - config/links.conf
components:
- ../common
generatorOptions:
  disableNameSuffixHash: true
