apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gitlab
resources:
  - _namespace.yaml
  - authelia-ouath2.enc.yaml
  - hr.yaml
  - buildkit
  - gc
components:
  - ../common
secretGenerator:
  - name: object-storage
    files:
      - config/rails.minio.yaml
      - config/registry.minio.yaml
      - config/toolbox.minio.toml
generatorOptions:
  disableNameSuffixHash: true
