apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: automation
resources:
  - _namespace.yaml
  - mosquitto
  - zigbee2mqtt
  - ntfy
  - shelly-brightness
  - netpol.yaml
components:
  - ../common
