apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  # Limit ingress to ingress-controller, victoria-metrics and same namespace by default
  - ../netpols/allow-ingress-controller
  - ../netpols/allow-vm-ingress
  - ../netpols/allow-namespace-ingress
patches:
  # -----------------------------------------------------------
  # All HRs
  # -----------------------------------------------------------
  - path: patches/hr.yaml
    target:
      kind: HelmRelease
  - path: patches/hr-app-template.yaml
    target:
      kind: HelmRelease
      annotationSelector: patch.sko.ai/app-template=common
