---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: kube-system
spec:
  chart:
    spec:
      chart: ingress-nginx
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-charts
      version: 3.19.0
  interval: 1h
  values:
    controller:
      ingressClass: internal
      kind: DaemonSet
      hostNetwork: true
      hostPort:
        enabled: true
      publishService:
        enabled: true
      config:
        proxy-body-size: '0'
        ssl-protocols: "TLSv1.3 TLSv1.2"
        use-proxy-protocol: "false"
        use-forwarded-headers: "true"
        forwarded-for-header: "CF-Connecting-IP"
        # Cloudflare IP Addresses - Used to forward the real client IP address to the backend service
        # https://www.cloudflare.com/ips/
        proxy-real-ip-cidr: "103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,104.16.0.0/12,108.162.192.0/18,131.0.72.0/22,141.101.64.0/18,162.158.0.0/15,172.64.0.0/13,173.245.48.0/20,188.114.96.0/20,190.93.240.0/20,197.234.240.0/22,198.41.128.0/17,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2405:8100::/32,2a06:98c0::/29,2c0f:f248::/32"
        global-auth-url: "https://gate.sko.ai/api/verify"
        global-auth-signin: "https://gate.sko.ai"
      resources:
        requests:
          memory: 250Mi
          cpu: 25m
        limits:
          memory: 500Mi
    defaultBackend:
      enabled: false
