apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- hr-a.yaml
- hr-b.yaml
- service.yaml
configMapGenerator:
- name: bridge-conf
  files:
  - config/mosquitto.conf
configurations:
- kustomizeconfig.yaml
