---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: longhorn-charts
  namespace: longhorn-system
spec:
  interval: 1h
  url: https://charts.longhorn.io
  timeout: 3m
