apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tailscale
resources:
  - _namespace.yaml
  - hr.yaml
  - ingress-proxies.yaml
  - idp
  - ../netpols/allow-all-ingress
components:
  - ../common
