nameReference:
  - kind: ConfigMap
    version: v1
    fieldSpecs:
      - path: spec/values/persistence/maddy-config/name
        kind: HelmRelease
  - kind: Secret
    version: v1
    fieldSpecs:
      - path: spec/values/controllers/maddy/containers/app/envFrom/secretRef/name
        kind: HelmRelease
