---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mailserver
resources:
- _namespace.yaml
- cert.yaml
- hr.yaml
- ../netpols/allow-all-ingress
components:
- ../common

configMapGenerator:
- name: maddy-config
  files:
  - config/maddy.conf
  - config/sieve.sh
- name: rspamd-config
  files:
  - config/rspamd.local.lua
- name: f2b-config
  files:
  - config/fail2ban.conf

secretGenerator:
- name: maddy-secrets
  envs:
  - secrets.env

generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled

configurations:
  - kustomizeconfig.yaml
