apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - hr.yaml
configMapGenerator:
  - name: homer-config
    files:
      - config.yml
configurations:
  - kustomizeconfig.yaml
