apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sing-box
resources:
  - _namespace.yaml
  - hr.yaml
secretGenerator:
  - name: config
    files:
      - config.json=config/config.enc.json
components:
  - ../common
configurations:
  - kustomizeconfig.yaml
