apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ds.yaml
  - svc.yaml
  - cm.yaml
labels:
  - pairs:
      k8s-app: kube-dns
      app.kubernetes.io/instance: kube-dns-ds
    includeSelectors: true
