apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-nginx
resources:
  - _namespace.yaml
  - internal.yaml
  - external.yaml
  - monitoring
  - ../netpols/allow-all-ingress
components:
  - ../common
configMapGenerator:
  - name: common-values
    files:
      - values.yaml=common-values.yaml
configurations:
  - kustomizeconfig.yaml
