controller:
  replicaCount: 3
  service:
    enabled: true
    type: LoadBalancer
    loadBalancerClass: tailscale
    annotations:
      tailscale.com/proxy-group: ingress-proxies
  tolerations:
    - effect: NoSchedule
      operator: Exists
  config:
    load-balance: leastconn
    syslog-server: "address:stdout, format: raw, facility:daemon"
    scale-server-slots: "2"
    log-format: "ip=%ci dt=%tr backend=%b perf=%TR/%Tw/%Tc/%Tr/%Ta code=%ST bytes_read=%B term=%tsc metrics=%ac/%fc/%bc/%sc/%rc
      srv_queue=%sq  backend_queue=%bq ua=%{+Q}[capture.req.hdr(0)] host=%{+Q}[capture.req.hdr(1)] ver=%HV method=%HM uri=%HU"
    frontend-config-snippet: |
      # Capture headers for logging
      capture request header User-Agent len 64
      capture request header Host len 64

      # Security Headers
      http-response set-header X-XSS-Protection "1; mode=block"
      http-response set-header X-Content-Type-Options "nosniff"
      http-response set-header X-Frame-Options "sameorigin"
      http-response set-header Referrer-Policy "strict-origin-when-cross-origin"
  resources:
    requests:
      memory: 250Mi
      cpu: 25m
    limits:
      memory: 500Mi
