apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: haproxy
resources:
  - _namespace.yaml
  - internal.yaml
  - tcp-services.yaml
  - vmservicescrape.yaml
  - ../netpols/allow-all-ingress
components:
  - ../common
configMapGenerator:
  - name: common-values
    files:
      - values.yaml=common-values.yaml
