ports:
  dns: 53
  http: 4000

upstreams:
  init:
    strategy: failOnError
  groups:
    default:
    - https://dns.google/dns-query
    - https://dns.cloudflare.com/dns-query

bootstrapDns:
  - tcp+udp:1.1.1.1
  - tcp+udp:8.8.8.1

blocking:
  blackLists:
    hagezi:
    - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/pro.txt
    - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/tif.txt
  clientGroupsBlock:
    default:
    - hagezi
  loading:
    refreshPeriod: 6h
    concurrency: 1
    downloads:
      timeout: 10m
      cooldown: 10s

prometheus:
  enable: true

caching:
  maxItemsCount: 10_000
  prefetching: true
  prefetchMaxItemsCount: 1_000
  cacheTimeNegative: 5m
